@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
:root {
    --background-color: white;
    --color: black;
    --padding: 0;
    --margin: 0;
}
html {
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: --background-color;
    color: --color;
    padding: -padding;
    margin: --margin;
}

section {
    display: grid;
    place-items: center;
    align-items: center;
    text-align: center;
    min-height: 75vh;
}

.hidden {
    opacity: 0;
    transition: all 3s;
}

.show {
    opacity: 1;
}