@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
:root{
    --background-col: rgb(255, 255, 255);
    --color: black;
    --padding: 2.5px;
    --margin: 2.5px;
    --base-col: black;
    --primary-col: rgb(255, 255, 255);
    --secondary-col: rgb(255, 255, 255);
}

.darkmode{
    --background-col: rgb(0, 0, 0);
    --color: rgb(255, 255, 255);
    --padding: 2.5px;
    --margin: 2.5px;
    --base-col: rgb(218, 215, 215);
    --primary-col: rgb(0, 0, 0);
    --secondary-col: rgb(0, 0, 0);
}

html {
    font-family: 'Poppins';
}

button{
    border: none;
    padding: .8em 2em;
    background-color: var(--primary-col);
    color: white;
    border-radius: 4px;
    font: inherit;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
  }

body {
    background-color: var(--background-col);
    color: var(--color);
    padding: var(--padding);
    margin: var(--margin);
}

::-webkit-scrollbar
{
    width: 0;
}
#scrollPath
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100px;
    background: rgba(255,255,255,0.05);
}
#progressbar
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%, 100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}
#progressbar:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}
#progressbar:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linaer-gradient(to top, #008aff, #00ffe7);
    filter: blur(20px);
}

#hero {
    background-color: var(--secondary-col);
}

#content {
    background-color: var(--primary-col);
}

section {
    display: grid;
    place-items: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    transition: all 3s;
}

.show {
    opacity: 1;
}

#darkmode-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-col);
    display: grid;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 10px;
}

#darkmode-switch svg {
    fill: var(--primary-col);
}

#darkmode-switch svg:last-child {
    display: none;
}

.darkmode #darkmode-switch svg:first-child {
    display: none;
}

.darkmode #darkmode-switch svg:last-child {
    display: block;
}